---
title: Forum
body_class: app-forum
---

{{#extend "layout-empty"}}

    {{#content "body"}}

        <!--User view\edition-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="PostEditSide"
                    md-disable-scroll-target="#elmBody"
                    style="max-width:\{{vm.SideMaxWidth}};width: 100%;">
            <md-content ng-controller-off="UserEditController as edt">
            </md-content>
        </md-sidenav>

        <!--User filtering-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="UserSettingsSide"
                    md-disable-scroll-target="#elmBody"
                    style="max-width:\{{vm.SideMaxWidth}};width: 100%;">
            <md-content>
                <md-toolbar class="md-theme-indigo">
                    <div layout="row">
                        <h1 class="md-toolbar-tools">Filtrer...</h1>
                        <span flex></span>
                        <md-button class="md-icon-button"
                                   ng-click="vm.SideUserClose('UserSettingsSide')">
                            <md-icon md-font-set="material-icons">close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <div class="md-dialog-content" layout-padding>
                    <div class="slidePanel-inner">
                        <section class="slidePanel-inner-section">
                            <div class="forum-content col-sm-12">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="col-xs-12">
                                            <md-tabs md-dynamic-height md-border-bottom>
                                                <md-tab ng-if="vm.Groups != null && vm.Groups.length != 0" label="Groupes">
                                                    <md-content class="md-padding">
                                                        <div class="demo-select-all-checkboxes" flex="100">
                                                            <md-button ng-if="vm.SelectedGroupId != 0"
                                                                       class="md-raised md-warn"
                                                                       style="margin-left: 0px;"
                                                                       ng-click="vm.OnGroupClick(0);"><md-icon md-font-set="material-icons" style="margin-right: 10px;">cancel</md-icon>Désactiver le filtre</md-button>
                                                        </div>
                                                        <div class="demo-select-all-checkboxes" flex="100" ng-repeat="group in vm.Groups">
                                                            <md-button ng-class="(group.Id == vm.SelectedGroupId) ? 'md-raised md-primary' : ''"
                                                                       ng-click="vm.OnGroupClick(group.Id);"><md-icon md-font-set="material-icons" style="margin-right: 10px;">group</md-icon>\{{ ::group.StringValue }}</md-button>
                                                        </div>
                                                    </md-content>
                                                </md-tab>
                                            </md-tabs>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </md-content>
        </md-sidenav>

        <!--List of users-->
        <md-list flex>
            <!-- Users -->
            <md-list-item class="md-2-line" ng-repeat="user in vm.Users.data" ng-click="vm.SidePostOpen('PostEditSide', user.Id)">
                <img ng-if="::user.CoverCrop != ''" ng-src="\{{::user.CoverCrop}}" class="md-avatar">
                <div class="md-list-item-text" layout="column">
                    <h4 class="media-heading" 
                        style="text-shadow: rgba(0,0,0,.15) 0 0 1px;font-weight: 400;line-height: 1.2;color: #424242;font-size: 18px;"
                        ng-bind-html="::user.Email"></h4>
                </div>
            </md-list-item>
        </md-list>

        <!--List pagination-->
        <md-menu layout-align="end center" class="site-action-topright-off">
            <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary" >
                <md-icon md-font-set="material-icons">expand_more</md-icon><span flex>Page \{{vm.CurrentPage + 1}}</span>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="page in vm.Users.pagination">
                    <md-button ng-click="vm.OnPageChange(page)">Page \{{page + 1}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button ng-if="vm.IsContributor" class="site-action md-fab md-primary" 
                   ng-click="vm.SidePostOpen('PostEditSide', 0)"
                   style="right:100px;">
            <md-icon md-font-set="material-icons" >mode_edit</md-icon>
        </md-button>
        <md-button class="site-action md-fab md-primary"
                   ng-click="vm.DialogSettingsOpen($event)">
            <md-icon md-font-set="material-icons" >more_vert</md-icon>
        </md-button>

    {{/content}}

{{/extend}}