@{
    //Layout = "_LayoutAccount";
    ViewData["Title"] = "Mot de passe oublié";
}
<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div style="font-size: large;padding-top:20px;">
                    <p>
                        Veuillez vérifier vos mails pour réinitialiser votre mot de passe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
