@{
    //Layout = "_LayoutAccount";
    ViewData["Title"] = "Connection";
}

<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div style="font-size: large;padding-top:20px;">
                    <p class="text-danger">
                        Ce compte a été bloqué, réessayer plus tard.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
