@{
    //Layout = "_LayoutAccount";
    ViewData["Title"] = "Connection";
}

<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div style="font-size: large;padding-top:20px;">
                    <p class="text-danger">
                        Votre compte est créé!<br />
                        Un e-mail de validation vous a été envoyé, veuillez le consulter afin de finaliser votre enregistrement.<br />
                        Notez, cependant, que l'enregistrement nécessite une activation par un administrateur du site. Vous serez notifié par email de cette activation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
