@{
    //Layout = "_LayoutAccount";
    ViewData["Title"] = "Réinitialisation du mot de passe";
}

<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div style="font-size: large;padding-top:20px;">
                    <p>
                        Votre mot de passe a été réinitialisé. Veuillez <a asp-controller="Account" asp-action="Login">cliquez ici pour vous identifier</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
