@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Changer le mot de passe";
}

<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" style="margin:20px;" role="form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-material" style="padding-bottom:20px;">
                        <label asp-for="OldPassword" class="floating-label"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-material" style="padding-bottom:20px;">
                        <label asp-for="NewPassword" class="floating-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-material" style="padding-bottom:10px;">
                        @*<label asp-for="ConfirmPassword" class="floating-label"></label>*@
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg" style="margin-top:20px;">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
